html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  border: 1px solid;
}

/* ------------------------------*/
/*         Navbar  Section      */
/* ----------------------------*/
.header-content {
  width: 100%;
  height: 46px;
  background-color: #002;
}

.headerup {
  height: 60px;
  width: 100%;
  background-color: #002;
  position: fixed;
  display: flex;
  top: 0;
  justify-content: space-between;
  z-index: 1000;
  padding: 0px 15px 0px 0px;
}

input {
  font-size: 16px;
}

.logo {
  display: flex;
  width: fit-content;
  height: 60px;
}

.logo img {
  height: 60px;
}

.searchbar {
  display: flex;
  width: max-content;
  align-items: center;
  height: 40px;
  padding: 12px;
  border: none;
  border-radius: 28px;
  background: #ddd;
  margin-top: 10px;
  margin-left: 50px;
}

.searchbar i {
  color: #333;
  margin-left: 2px;
  align-items: center;
}

.searchbar input {
  width: 400px;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: transparent;
  color: #333333;
  border: none;
  outline: none;
}

.acc-cart {
  display: flex;
  column-gap: 25px;
  align-items: center;
  width: fit-content;
  height: 60px;
  padding: 15px;
}

.account {
  height: fit-content;
}

.cart-btn {
  height: fit-content;
}

.acc-cart a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.acc-cart a:hover {
  color: #fff;
}

.acc-cart a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.acc-cart a:hover::before {
  transform: scaleX(1);
}

.headerdown {
  background-color: #002;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 54px;
  padding: 10px;
}

.headerdown-content {
  display: flex;
  column-gap: 40px;
}

.headerdown-content a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

.headerdown-content a:hover {
  color: #fff;
}

.headerdown-content a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.headerdown-content a:hover::before {
  transform: scaleX(1);
}

/* ------------------------------*/
/*        Footer   Section      */
/* ----------------------------*/

.parent-footer-container {
  height: 350px;
  background-color: #002;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
}

.follow-info {
  display: flex;
  flex-direction: column;
}

.logo-img img {
  height: 150px;
}

.follow-text {
  color: #ddd;
  text-align: left;
  margin-left: 45px;
  font-size: 24px;
}

.one {
  padding: 4px 20px 4px 0px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}

.one:hover {
  transform: scale(1.2);
}
.two {
  padding: 4px 20px 4px 0px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
}

.two:hover {
  transform: scale(1.2);
}

.three {
  margin-top: 3px;
  margin-left: 3px;
  padding: 4px 20px 4px 0px;
  height: 49px;
  display: flex;
  justify-content: flex-start;
}

.three:hover {
  transform: scale(1.2);
}

.follow-platform {
  display: flex;
  width: fit-content;
  margin-left: 41px;
}

.contact {
  color: #fff;
  margin-top: 50px;
}

.contact ul li {
  list-style-type: none;
}

.About {
  color: #fff;
  margin-top: 50px;
}

.About ul li {
  list-style-type: none;
}

.About ul li a {
  color: #fff;
  text-decoration: none;
}

.quicklinks {
  color: #fff;
  margin-top: 50px;
  margin-right: 100px;
}

.quicklinks ul li {
  list-style: none;
}

.quicklinks a {
  text-decoration: none;
  color: #fff;
}

.copyright {
  color: #fff;
  justify-content: flex-end;
  text-align: center;
  height: 100%;
  margin-top: 20px;
  font-size: small;
}

/* --------------------- */
/* -----Top-button------ */
/* --------------------- */

.top-button a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  text-decoration: none;
  color: #fff;
}

.top-button {
  height: 20px;
}
.top-button {
  background-color: rgba(0, 0, 0, 0.3);
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  width: 60px;
  border: none;
  border-radius: 50%;
}

.top-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
